.weather {
  margin: 0 auto;
  border: solid;
  border-color: gray;
  border-width: thin;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
}

@media (min-width: 320px) and (max-width: 641px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
  .weather {
    width: 100vw;
    height: 100vh;
    border-color: white;
    box-shadow: none;
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 641px) {
}
