.App {
  margin: 0 auto;
  border: solid;
  border-color: gray;
  border-width: thin;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);

  min-width: 800px;
  max-width: 800px;
}
