.weather {
  margin: 0 auto;
  border: solid;
  border-color: gray;
  border-width: thin;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
}

@media (min-width: 320px) and (max-width: 641px) {
  .App {
    width: 100vw;
    height: 100vh;
  }
  .weather {
    margin: none;
    width: 100vw;
    height: 100vh;
    border: none;
    box-shadow: none;
  }
}
