.city {
  display: inline-block;
  font-size: 60px;
  font-family: "Balsamiq Sans", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: rgb(20, 45, 76);
  font-weight: 400;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 40px;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 641px) {
}
