.day {
  padding-left: 5px;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  color: rgb(20, 45, 76, 0.6);
}

.dayTempMin {
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  margin-right: 10px;
  opacity: 0.5;
}

.dayTempMax {
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
}

.dayIcon {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 8px;
}

.forecast {
  margin-top: 30px;
  margin-bottom: 10px;
}
