.temp {
  display: inline-block;
  text-align: right;
  font-size: 100px;
  color: rgb(20, 45, 76);
  font-family: "Balsamiq Sans", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  padding-top: 10px;
}

.units a {
  position: relative;
  bottom: 45px;
  font-family: "Balsamiq Sans", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.otherUnit {
  margin-left: 5px;
  margin-right: 15px;
}

.WeatherIcon svg {
  float: right;
}

@media (min-width: 320px) and (max-width: 641px) {
  .units a {
    position: relative;
  }

  .WeatherIcon svg {
    margin-top: 10px;
    float: none;
    width: 70%;
    height: 70%;
  }

  .temp {
    font-size: 12vh;
  }
}
